.container {
    display: block;
    width: 100%;
    height: 32px;
    font-size: 14px;
    margin: 14px 0;
    padding: 6px;
    border: 1px solid #EDC;
    box-sizing: border-box;
}
.tag {
    background: darkred;
    color: white;
    font-size: 12px;
    line-height: 0;
    padding: 2px 8px;
    margin: 3px;
    border-radius: 9px;
    cursor: pointer;
}

.tagReversed {
    border: darkred 1px solid;
    background: white;
    color: darkred;
    font-size: 12px;
    line-height: 0;
    padding: 2px 8px;
    margin: 3px;
    border-radius: 9px;
    cursor: pointer;
}